BasedOnStyle: Google
Language: Cpp
Standard: Auto
UseTab: Never
IndentWidth: 4
ColumnLimit: 160

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignOperands: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
Cpp11BracedListStyle: false
DerivePointerAlignment: false
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: true